@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-blue{
    @apply
    text-white
    bg-blue-500
    border
    hover:bg-blue-600
    border-blue-500
    hover:border-blue-600
    py-2.5 px-5
    rounded-md
    transition
    duration-500
    ease-in-out
}

 .btn-white{
    @apply
    text-white
    border
    border-white
    py-2.5
    px-5
    rounded-md
    hover:bg-white
    hover:text-gray-800
    transition
    duration-500
    ease-in-out
 }

 .text-navbar{
     @apply
     lg:mr-7
     p-6
     lg:mr-10
 }
